/* Default styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header and Nav */
#header-title {
  text-align: center;
  font-family: "Bangers", cursive, sans-serif;
  padding: 15px 0;
}

nav {
  border-top: 1px darkgray solid;
  border-bottom: 1px darkgray solid;
}

.badge-pill {
  padding: 5px 25px;
}

.nav-item a.link {
  margin: 10px 15px;
  font-weight: normal;
}

.nav-item a.link:link {
  color: white;
}

.nav-item a.link:visited {
  color: darkblue;
}

.nav-item a.link:hover {
  font-weight: bold;
}

.nav-item a.link:active {
  color: purple;
}

/* Main Section */

#jumbo {
  background-color: blueviolet;
  color: bisque;
}

.homePageMain {
  background-color: beige;
}

/* Footer */

footer {
  border-top: 1px darkgray solid;
  text-align: center;
  padding-top: 5px;
}

footer p {
  margin-bottom: 4px;
}

/* Media queries */

@media screen and (max-width: 768px) {
  .homePageMain {
    max-width: 100%;
    height: auto;
  }
}
